* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #ececec;
}

.logo {
  max-width: 5rem;
  border-radius: 15px;
  padding: 5px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 0;
}

.nav-list li {
  display: inline-block;
}

.nav-list li a {
  text-decoration: none;
  color: #1c1c1c;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  list-style-type: none;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #333333;
  display: block;
  transition: color 0.3s ease;
  padding: 5px;
  font-size: 15px;
}

.dropdown-menu li a:hover {
  color: #bebabe;
}

@media screen and (max-width: 750px) {
  .dropdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .dropdown-menu {
    display: none;

    position: absolute;
    top: 100%;
    right: 0;
    width: auto;
    min-width: 150px;
    border: none;
    border-top: 1px solid #cccccc;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    background-color: #1c1c1c;
    z-index: 1;
  }

  .dropdown-menu li {
    width: 100%;
  }

  .dropdown-menu li a {
    display: block;
    padding: 10px;
    font-size: 16px;
    color: #ececec;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .dropdown-menu li a:hover {
    color: #bebabe;
    /* Cambiar el color del texto al pasar el mouse */
  }
}

.auth-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0;
}

.login-button,
.register-button {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.register-button {
  background-color: #28a745;
}

.login-button:hover,
.register-button:hover {
  background-color: #0056b3;
}

.register-button:hover {
  background-color: #218838;
}

.login-text,
.register-text {
  margin-left: 5px;
}

.icon-button {
  margin-bottom: 10px;
}

@media screen and (max-width: 750px) {
  .auth-buttons {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 5px;
  }

  .icon-button {
    display: inline-flex;
  }

  .login-text,
  .register-text {
    display: none;
  }

  .login-button,
  .register-button {
    gap: 1rem;
    margin-right: 0;
    border-radius: 10px;
  }
}

.search-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-form input[type="text"] {
  flex: 1;
  width: 400px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.search-form button {
  padding: 6px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 10%;
}

.search-form button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 750px) {
  .search-form-container {
    display: none;
  }
}

/*Productos*/
.productos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  align-items: stretch;
}

.producto-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
}

.producto-card img {
  max-width: 100%;
  max-height: 100%;
}

.producto-card h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.producto-card p {
  margin-bottom: 10px;
  text-align: justify;
  line-height: 1.4;
}

.producto-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 100%;
  /* Ancho máximo del botón */
  min-width: 100px;
}

.precio {
  color: green;
  font-size: 24px;
  font-weight: bold;
}

.producto-card button:hover {
  background-color: #0056b3;
}

/*Detalle de producto*/
.productoID1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.productoID1 .info-producto {
  width: 100%;
  margin-bottom: 10px;
}

.productoID1 .info-producto h2,
.productoID1 .info-producto p {
  text-align: justify;
  line-height: 1.5;
}

.btn-comprar {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  height: 14%;
  font-size: 20px;
}

.btn-comprar:hover {
  background-color: #0056b3;
}

.descripcion {
  text-align: justify;
}

.detalle-productoN {
  width: 40%;
  padding: 20px;
}

/*IMGS*/
.container .img_container {
  width: 60%;
  height: 482px;
  margin-bottom: 20px;
  padding: 20px;
}

.container.desktop-view {
  display: flex;
}

.container .img_container .main_img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
  object-fit: contain;
  object-position: center;
}

.thumbnail_container {
  height: 80px;
  display: flex;
  padding: 20px;
  justify-content: center;
}

.thumbnail_container .thumbnail {
  width: 200px;
  height: 80px;
  border-radius: 5px;
  object-fit: contain;
  object-position: center;
  opacity: .7;
  transition: .3s;
}

.thumbnail_container .thumbnail:hover {
  opacity: 1;
}

.active {
  opacity: 1 !important;
  box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

.name {
  display: none;
}

.detalle-productoR {
  display: none;
}

/*FOOTER*/
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.redes-sociales {
  margin-top: 10px;
}

.redes-sociales a {
  color: #fff;
  margin: 0 10px;
}

.links {
  text-decoration: none;
}

/*COOKIES*/
.wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  max-width: 300px;
  z-index: 1000;
}

.wrapper div {
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.data p {
  text-align: justify;
}

.buttons {
  text-align: right;
}

.button {
  padding: 5px 10px;
  margin-left: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button.accept {
  background-color: #4caf50;
  color: #fff;
}

.button.decline {
  background-color: #f44336;
  color: #fff;
}

.button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 550px) {

  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu {
    color: #1c1c1c;
  }

  .producto-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(100% - 10px);
  }

  .producto-card p:last-child {
    margin-bottom: 0;
  }

  .cerrar-menu {
    color: #ececec;
  }

  /* header {
    margin-bottom: 60px    #Ajusta el espacio para dejar espacio para el menú;
  } */

  .nav {
    z-index: 1000; 
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
  }

  .nav-list li a {
    color: #ecececec;
  }

  .productoID1 {
    padding: 5px;
    align-items: flex-start;
  }

  .productoID1 .info-producto h2,
  .productoID1 .info-producto p .precio {
    font-size: 18px;
    padding: 5px;
    line-height: 1.5;
  }

  .productoID1 .btn-comprar {
    font-size: 20px;
    height: 50px;
  }

  .detalle-productoN {
    display: none;
  }

  .detalle-productoR {
    display: block;
  }

  .name {
    display: block;
    padding: 15px;
    text-align: center;
  }

  /*IMGS*/
  .container .img_container {
    width: 100%;
    height: 450px;
    margin-bottom: 20px;
    padding: 20px;
  }

  .container.desktop-view {
    width: 100%;
    height: 450px;
    margin-bottom: 20px;
    padding: 20px;
  }

  .container .img_container .main_img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
    object-fit: contain;
    object-position: center;
  }

  .thumbnail_container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 50px;
  }

  .thumbnail_container .thumbnail {
    width: 150px;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
    opacity: .7;
    transition: .3s;
  }

  .thumbnail_container .thumbnail:hover {
    opacity: 1;
  }

  .active {
    opacity: 1 !important;
    box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
  }

  footer {
    padding: 10px;
  }

}

@media screen and (max-width: 430px) {
  .thumbnail_container .thumbnail {
    width: 100px;
    height: 80px;
    border-radius: 5px;
    object-fit: contain;
    object-position: center;
    opacity: .7;
    transition: .3s;
  }
}

/*CARROUSEL*/
.custom-carousel {
  position: flex;
  width: 80%;
  overflow: hidden;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.custom-carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  align-items: center;
}

.custom-carousel-item {
  flex: 0 0 100%;
  margin: 0 10px;
}

.custom-carousel-item img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.custom-carousel-prev,
.custom-carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.custom-carousel-prev {
  left: 10px;
}

.custom-carousel-next {
  right: 10px;
}

/*Filtros*/
/* Estilo para el contenedor del select */
.filtros {
  margin-bottom: 10px;
  position: relative;
  display: flex;
  /* Usamos flexbox */
  justify-content: flex-end;
  margin-right: 40px;
  /* Alineamos el contenido al final (derecha) */

}

/* Estilo para el select */
#ordenar {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  appearance: none;
  /* Elimina los estilos por defecto del navegador */
  background-color: white;
  cursor: pointer;
  /* Añadimos un padding-right para dejar espacio para la flecha */
  padding-right: 30px;
}

/* Estilo para las opciones del select */
#ordenar option {
  padding: 10px;
}

/* Estilo para la opción seleccionada */
#ordenar option:checked {
  background-color: #f0f0f0;
}

/* INDEX */
.msj-act {
  display: block;
  text-align: center;
  border-bottom: 1px solid gainsboro;
}

.fondoshop {
  width: 100%;
}

.fondoshop img {
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

.backshop .back-text {
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 5px 10px;
  margin: 0;
  font-size: 40px;
}

.backshop .back-link {
  position: absolute;
  top: 590px;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  /* border-radius: 5px; */
  border: 1px solid white;
  opacity: 0;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.data-info {
  width: 100%;
}

.part {
  width: 100%;
  display: flex;
}

.data-l {
  width: 50%;
  background-color: #0056b3;
  padding: 60px;
}

.data-img-r {
  background-color: #218838;
  width: 50%;
}

.data-img-r img {
  width: 100%;
}

.data-r {
  width: 50%;
  background-color: peru;
  padding: 60px;
}

.data-img-l {
  background-color: yellow;
  width: 50%;
}

.data-img-l img {
  width: 100%;
}

/* PRODUCTOS DESTACADOS */
.dest {
  width: 100%;
  padding: 30px;
}

.contenedor-chat {
  position: relative;
  height: 200px;
  /* Ajusta la altura según sea necesario */
  overflow: auto;
  /* Asegura que el contenido pueda desplazarse si es necesario */
  border: 1px solid #ccc;
}

.esquina-inferior {
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* background-color: rgba(0, 0, 0, 0.8); Casi transparente*/
  background-color: black;
  color: white;
  padding: 15px 15px;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer; /* Cambia el cursor al hacer clic */
}

.chat-panel {
  margin-top: 10px; /* Espacio entre el chat y el panel */
  font-size: 18px;
}

.chat-panel input {
  display: block;
  margin-bottom: 10px;
  /* Estilos para los inputs en el panel */
}

.btn-chat{
  background-color: white;
  padding: 5px 5px;
  border-radius: 9px;
  color: black;
  border: 1px black solid;
}

.btn-chat:hover{
  background-color: black;
  color: white;
  transition: all 0.3s;
  border: 1px white solid;
}