* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #ececec;
}

.logo {
  max-width: 5rem;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav-list li a {
  text-decoration: none;
  color: #1c1c1c;
}


.productos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  align-items: stretch;
}

.producto-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  
  
}

.producto-card img {
  max-width: 100%;
  max-height: 100%;
}

.producto-card h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.producto-card p {
  margin-bottom: 10px;
  text-align: justify;
  line-height: 1.4;
}

.producto-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 100%; /* Ancho máximo del botón */
  min-width: 100px;
}

.precio {
  color: green;
  font-size: 20px;
  font-weight: bold;
}

.producto-card button:hover {
  background-color: #0056b3;
}

/*Detalle de producto*/
.productoID1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.productoID1 .info-producto {
  width: 100%;
  margin-bottom: 10px;
}

.productoID1 .info-producto h2,
.productoID1 .info-producto p {
  text-align: justify;
  line-height: 1.5;
}

.btn-comprar{
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  height: 14%;
  font-size: 20px;
}

.btn-comprar:hover {
  background-color: #0056b3;
}

.descripcion{
  text-align: justify;
}

.detalle-productoN {
  width: 40%;
  padding: 20px;
}

/*IMGS*/
.container .img_container {
  width: 60%;
  height: 482px;
  margin-bottom: 20px; 
  padding: 20px;
}

.container.desktop-view {
  display: flex;
}

.container .img_container .main_img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
  object-fit: cover;
}

.thumbnail_container {
  height: 80px;
  display: flex;
  padding: 20px;
  justify-content: center;
}

.thumbnail_container .thumbnail {
  width: 200px;
  height: 80px;
  border-radius: 5px;
  cursor: pointer;
  object-fit: cover;
  opacity: .7;
  transition: .3s;
}

.thumbnail_container .thumbnail:hover {
  opacity: 1;
}

.active {
  opacity:  1 !important;
  box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

.name{
  display: none;
}

.detalle-productoR{
  display: none;
}

@media screen and (max-width: 550px) {

  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu {
    color: #1c1c1c;
  }

  .producto-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(100% - 10px);
  }

  .producto-card p:last-child {
    margin-bottom: 0;
  }

  .cerrar-menu {
    color: #ececec;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
  }

  .nav-list li a {
    color: #ecececec;
  }

  .productoID1 {
    padding: 5px;
    align-items: flex-start; 
  }

  .productoID1 .info-producto h2,
  .productoID1 .info-producto p .precio {
    font-size: 18px;
    padding: 5px;
    line-height: 1.5;
  }

  .productoID1 .btn-comprar {
    font-size: 20px;
    height: 50px;
  }

  .detalle-productoN{
    display: none;
  }

  .detalle-productoR{
    display: block;
  }

  .name{
    display: block;
    padding: 15px;
    text-align: center;
  }

/*IMGS*/
.container .img_container {
  width: 100%;
  height: 450px;
  margin-bottom: 20px; 
  padding: 20px;  
}

.container.desktop-view {
  width: 100%;
  height: 450px;
  margin-bottom: 20px; 
  padding: 20px;
}

.container .img_container .main_img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
  object-fit: contain;
  object-position: center;
}

.thumbnail_container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 50px;
}

.thumbnail_container .thumbnail {
  width: 150px;
  height: 80px;
  border-radius: 5px;
  cursor: pointer;
  object-fit: cover;
  opacity: .7;
  transition: .3s;
}

.thumbnail_container .thumbnail:hover {
  opacity: 1;
}

.active {
  opacity:  1 !important;
  box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
}
}