/* Estilos para la vista de órdenes de compra */

.ordenes-compra {
    max-width: 800px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: 100vh; 
}

.orden {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.orden h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.orden p {
    margin: 5px 0;
}

.orden ul {
    margin-top: 5px;
    margin-bottom: 10px;
}

.orden ul li {
    list-style-type: none;
}
